<div class="uk-container uk-margin">
  <%= form_with(model: brief, local: true) do |form| %>
    <% if brief.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(brief.errors.count, "error") %> prohibited this brief from being saved:</h2>

        <ul>
          <% brief.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <form>
      <fieldset class="uk-fieldset uk-margin-medium-top uk-width-1-1 uk-width-1-2@m">
        <legend class="uk-legend">Brief dotyczący projektu strony www</legend>
        <p class="uk-text-justify uk-margin-large-bottom">Brief pozwoli nam poznać oczekiwania odnośnie projektu.
          Wszystkie
          informacje w nim zawarte objęte są klauzulą
          poufności i zostaną wykorzystane jedynie na potrzeby przygotowania oferty i projektu. Jeżeli niektóre pytania
          wydają się zbędne można je pominąć. W razie pytań czy wątpliwości jesteśmy do dyspozycji.</p>

        <div class="uk-margin">
          <p>Nazwa firmy</p>
          <%= form.text_field :company, class: "uk-input", type: "text" %>
        </div>

        <div class="uk-margin">
          <p>Branża</p>
          <%= form.text_field :brand, class: "uk-input", type: "text" %>
        </div>

        <div class="uk-margin">
          <p>Opis firmy</p>
          <%= form.text_area :description, class: "uk-textarea", type: "text-area", rows: "5" %>
        </div>

        <div class="uk-margin">
          <p>E-Mail</p>
          <%= form.text_field :email, class: "uk-input", type: "text" %>
        </div>

        <div class="uk-margin">
          <p>Osoba kontaktowa + numer telefonu</p>
          <%= form.text_field :contact, class: "uk-input", type: "text" %>
        </div>

        <div class="uk-margin">
          <p>Oferowane usługi/produkty</p>
          <%= form.text_area :offers, class: "uk-textarea", type: "text-area", rows: "3" %>
        </div>

        <div class="uk-margin">
          <p>Opis rynku i środowiska konkurencji</p>
          <%= form.text_area :competition, class: "uk-textarea", type: "text-area", rows: "5" %>
        </div>

        <div class="uk-margin">
          <p>Informacje o projekcie strony www / aplikacji</p>
          <%= form.text_area :project, class: "uk-textarea", type: "text-area", rows: "5" %>
        </div>

        <div class="uk-margin">
          <p>Jaką architekturę informacji powinien mieć projekt?</p>
          <%= form.select(:architecture, [["wybierz", 0], ["Wizerunkowy, np. wizytówka firmy, strona korporacyjna", 1], ["Sprzedażowy,
          np. strona e-commerce", 2], ["Informacyjny, np. portal, serwis", 3], ["Landing page, np. promocja produktu,
          usługi", 4], ["Interfejs aplikacji", 5]], class: "uk-select") %>
        </div>

        <div class="uk-margin">
          <p>Ułożenie elementów na stronie, czyli przewidywana struktura projektu</p>
          <%= form.text_area :structure, class: "uk-textarea", type: "text-area", rows: "5" %>
        </div>

        <div class="uk-margin">
          <p>Jaka jest grupa docelowa?</p>
          <%= form.text_field :group, class: "uk-input", type: "text" %>
        </div>

        <div class="uk-margin">
          <p>Przewidywany budżet projektu</p>
          <%= form.text_area :budget, class: "uk-textarea", type: "text-area", rows: "3" %>
        </div>

        <div class="uk-margin">
          <p>Oczekiwania dotyczące terminu realizacji</p>
          <%= form.date_select :daadline, class: "uk-select" %>
        </div>

        <div class="uk-margin">
          <p>Czy strona ma być wielojęzyczna?</p>
          <%= form.select(:language, [["Tak", true], ["Nie", false]], class: "uk-select") %>
        </div>

        <div class="uk-margin">
          <p>Oczekiwana stylistyka projektu:</p>
          <%= form.select(:design, [["wybierz", 0], ["Minimalistyczna", 1], ["Duża ilość grafiki", 2], ["Poważna/Stonowana", 3],
                                    ["Zabawna/Wesoła", 4], ["Prosta", 5], ["Elegancka", 6]], class: "uk-select") %>
        </div>

        <div class="uk-margin">
          <p>Oczekiwana stylistyka projektu</p>
          <%= form.select(:color, [["wybierz", 0], ["Jasny", 1], ["Ciemny", 2], ["Kolory firmowe", 3],
                                   ["Jaskrawe", 4], ["Czarno-białe", 5], ["Pastele", 6]], class: "uk-select") %>
        </div>

        <div class="uk-margin">
          <p>Przykłady stron, które odpowiadają Państwa oczekiwaniom wizualnym</p>
          <%= form.text_area :example, class: "uk-textarea", type: "text-area", rows: "3" %>
        </div>

        <div class="uk-margin">
          <p>Jakie elementy/informacje powinny zostać wyróżnione w projekcie?</p>
          <%= form.text_area :featured, class: "uk-textarea", type: "text-area", rows: "3" %>
        </div>

        <div class="uk-margin">
          <p>Dodatkowe informacje</p>
          <%= form.text_area :additional, class: "uk-textarea", type: "text-area", rows: "3" %>
        </div>

        <div class="uk-margin">
          <%= form.submit class: "uk-button uk-button-primary" %>
        </div>
      </fieldset>
    </form>
  <% end %>
</div>